<form action="/tweets/<%= @tweet[:id] %>" method="post">
  <%= method_tag("patch") %>
  <%= token_tag %>
  <input type="text"  value="<%= @tweet[:message] %>">
  <input type="submit"  value="save">
</form>

<%= button_to('Delete', "/tweets/#{@tweet[:id]}", method: :delete, data: {confirm: "Are you shure?"}) %>
