<form action="/tweets/<%= @tweet[:id] %>" method="post">
  <%= method_tag("patch") %>
  <%= token_tag %>
  <input type="text"  value="<%= @tweet[:message] %>">
  <input type="submit"  value="save">
</form>

<form action="/tweets/<%= @tweet[:id] %>" method="post">
  <%= method_tag("delete") %>
  <%= token_tag %>
  <input type="submit"  value="Delete">
</form>
